// Your custom styles

// Typography
// MULI FONT
// Fonts
$muli-font-path: "../font/muli/" !default;
@font-face {
  font-family: "Muli Extra Light";
  src: local(Muli Extra Light),
  url("#{$muli-font-path}Muli-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Muli Extra Light Italic";
  src: local(Muli Extra Light Italic),
  url("#{$muli-font-path}Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Muli Light";
  src: local(Muli Light),
  url("#{$muli-font-path}Muli-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Muli Light Italic";
  src: local(Muli Light Italic),
  url("#{$muli-font-path}Muli-LightItalic.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Muli";
  src: local(Muli Regular),
  url("#{$muli-font-path}Muli-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Muli Italic";
  src: local(Muli Regular Italic),
  url("#{$muli-font-path}Muli-Italic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Muli Semi-Bold";
  src: url("#{$muli-font-path}Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Muli Semi-Bold Italic";
  src: url("#{$muli-font-path}Muli-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Muli Bold";
  src: url("#{$muli-font-path}Muli-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Muli Bold Italic";
  src: url("#{$muli-font-path}Muli-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Muli Extra Bold";
  src: url("#{$muli-font-path}Muli-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Muli Extra Bold Italic";
  src: url("#{$muli-font-path}Muli-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Muli Black";
  src: url("#{$muli-font-path}Muli-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Muli Black Italic";
  src: url("#{$muli-font-path}Muli-BlackItalic.ttf") format("truetype");
  font-weight: 800;
}

body {
  /*font-family: "Muli", sans-serif;*/
  line-height: 28px;
}

.home-rj {
  /*font-family: "Muli Black";*/
  /*font-size: 96px;*/
  /*font-weight: 900;*/
}

.vh-100 {
  height: 100vh;
}

.flex-centerz {
  display: flex;
  align-items: center;
  height: 100%;
}

.letterspace10 {
  letter-spacing: 9px;
}

.line-height34 {
  line-height: 34px;
}

.op50 {
  opacity: 0.5;
}


.page-footer {
  background-color: #091933;
}

.card {
  line-height: 24px;
  .view {
    height: unset;
  }
}

.the-story {
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 240px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    line-height: 260px;
    position: absolute;
    top: -42px;
    left: -8px;
    opacity: 0.05;
    z-index: 1;
  }
  /*p {
    width: 300px;
  }*/
  .body {
    position: relative;
    /*background-color: #fff;*/
    margin-top: 50px;
    padding: 24px;
    z-index: 99;
    /*opacity: 0.8;*/
  }
}

.rgba-blue-light {
  /*background-color: rgba(56,111,193,.8) !important;
  background-color: rgba(31,64,116,.8) !important;*/
  background-color: rgba(19,44,82,.8) !important;
}